.about__description{
    color: var(--primary-text-color);
    font-size: 4.0vw;
    font-weight: 400;
    text-align: center;
    line-height: 4.2vw;

    padding: 0px;
    margin: 0.5rem 2.5rem 0.5rem 2.5rem ;
    margin-top: 0.0rem;
    margin-bottom: 0.0rem;

}